<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Portal2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>rcpit.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>rcpit.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>rcpit.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addroad</display-name>
    <servlet-name>addroad</servlet-name>
    <servlet-class>rcpit.addroad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addroad</servlet-name>
    <url-pattern>/addroad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URegister</display-name>
    <servlet-name>URegister</servlet-name>
    <servlet-class>rcpit.URegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegister</servlet-name>
    <url-pattern>/URegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcomplaint</display-name>
    <servlet-name>addcomplaint</servlet-name>
    <servlet-class>rcpit.addcomplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcomplaint</servlet-name>
    <url-pattern>/addcomplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ulogin</display-name>
    <servlet-name>Ulogin</servlet-name>
    <servlet-class>rcpit.Ulogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ulogin</servlet-name>
    <url-pattern>/Ulogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complaint</display-name>
    <servlet-name>Complaint</servlet-name>
    <servlet-class>rcpit.Complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complaint</servlet-name>
    <url-pattern>/Complaint</url-pattern>
  </servlet-mapping>
</web-app>